html, body {
	background-color: black;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, li, button {
	color: white;
	text-align: center;
}

h1 {
	font-size: 12vh;

}

p {
	font-size: 5vh;
}

ul {
	list-style-type: none;
	text-align: center;
}

a {
	text-decoration: none;
}

img {
	height: 55%;
	filter: invert(1);
}

button {
	background-color: #363636;
  	border: none;
  	color: white;
  	padding: 12px 22px;
  	text-decoration: none;
  	display: block;
  	font-size: 16px;
  	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
}

button:hover {
  background-color: #5e0f93; 
  color: white;
}

div {
	width: 100%;
	height: 100%;
	margin: 0;
}

.enso {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.objeto {
	height: 100vh;
}

.portada {

}

.artículo {
	padding-top: 5px;
}


